<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
      {{ form.token.label(class="form-control-label") }}
      {{ form.token(class="form-control") }}
      </div>
      <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control") }}
      </div>
      {{ form.submit }}
  </form>
</body>
</html>