<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Mano tinklaraštis</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.tiny.cloud/1/nxc8e2kwaduvatzyy3fc3wwlderx6cw0ihij2jxkpmtw53su/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Vartotojai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/bands">Visos grupės</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/add_band">Pridėti grupę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/irasai">Įrašai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atsijungti">Atsijungti</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/registruotis">Registruotis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prisijungti">Prisijungti</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
  </body>
</html>